# Credentially - analysis and characterisation of data

**Pandas** offers a quick way to look at the data held in a dataset using the 'describe' function.

Load each dataset into a dataframe, use 'describe' and then add any observations.

After loading and describing, register the dataframes into **DuckDB** in order to query the data.

This approach will be used for the Dashboard (treating this as a prototyping exercise).

_I often use this approach and treat the Jupyter Notebook file as a mixture of notes and scrapbook_

In [2]:
# !pip install pandas # Uncomment to install pandas if not already present
import pandas as pd

In [3]:
# Data Sources - from References.SemanticModel/definition/tables
# TMDL is Microsoft's language for defining tabular models for Analysis Services and Power BI

# Reference: https://learn.microsoft.com/en-us/analysis-services/tmdl/tmdl-overview?view=asallproducts-allversions

# https://www.linkedin.com/pulse/how-i-put-powerbi-semantic-models-dbt-documentation-site-austin-huynh-mxkqc/

# Extract the data sources from the table files.
DATA_SOURCE = "https://drive.google.com/file/d"

ref_assigned_to = f"{DATA_SOURCE}/1baDLWADEEDefnFr7h3pz-hWds_3i82KX/view?usp=sharing"

ref_job_positions = f"{DATA_SOURCE}/1o8G-7nd14lUdOrCzc2AU9sO_dXvDz2lp/view?usp=sharing"

ref_references = f"{DATA_SOURCE}/1mQj30vUWHMDdVPJVJk4qLh9jD3BYCvSM/view?usp=sharing"

ref_user_tags = f"{DATA_SOURCE}/1lToaUKh6PADJ539r_Aj0UfHL4dMx16S9/view?usp=sharing"

# There is also a Dates table - generated

# The link provided in the tables/*.tmdl files is an HTML page to allow for viewing the CSV files.
# for the csv file itself we need the download_path below with the Google Drive document id
download_path = "https://drive.google.com/uc?export=download&id="

## Describe each dataset

In [4]:
path_ref_assigned_to = download_path + ref_assigned_to.split('/')[-2]
df_ref_assigned_to = pd.read_csv(path_ref_assigned_to)

print("Descriptive statistics for ref_assigned_to")

df_ref_assigned_to.describe(include='all')

Descriptive statistics for ref_assigned_to

        job_position_id    assigned_to
count       1379.000000           1377
unique              NaN             81
top                 NaN  Andrey Ladmin
freq                NaN            357
mean        6039.406091            NaN
std         3349.874124            NaN
min           65.000000            NaN
25%         3714.000000            NaN
50%         4582.000000            NaN
75%         8752.000000            NaN
max        19782.000000            NaN

In [5]:
path_ref_job_positions = download_path + ref_job_positions.split('/')[-2]
df_ref_job_positions = pd.read_csv(path_ref_job_positions)

print("Descriptive statistics for ref_job_positions")
df_ref_job_positions.describe(include='all')

Descriptive statistics for ref_job_positions

,job_position_id,organisation_id,role,job_position_status,signed_off
count,9215.000000,9215.000000,9215,9215,9215
unique,NaN,NaN,337,4,2
top,NaN,NaN,Doctor,Active,False
freq,NaN,NaN,3118,6341,8945
mean,8471.302876,1954.228757,NaN,NaN,NaN
std,5820.121093,709.825947,NaN,NaN,NaN
min,1.000000,1.000000,NaN,NaN,NaN
25%,3272.000000,2179.000000,NaN,NaN,NaN
50%,8062.000000,2191.000000,NaN,NaN,NaN
75%,13558.500000,2379.000000,NaN,NaN,NaN
max,22591.000000,2526.000000,NaN,NaN,NaN

In [6]:
path_ref_references = download_path + ref_references.split('/')[-2]
df_ref_references = pd.read_csv(path_ref_references)

print("Descriptive statistics for ref_references")
df_ref_references.describe(include='all')

Descriptive statistics for ref_references

,job_position_id,ref_requested_at,ref_requested_date,ref_completed_at,ref_completed_date,ref_approved_at,ref_approved_date,is_mandatory,ref_package_name,ref_form_name,...,ref_status,ref_approval_status,requested_to_completed_days,completed_to_reviewed_days,requested_to_reviewed_days,requested_to_compliant_days,requested_to_completed_category,completed_to_reviewed_category,requested_to_reviewed_category,requested_to_compliant_category
count,1670.000000,1670,1670,565,565,156,156,1670,66,1638,...,1670,1670,565.000000,152.000000,156.000000,66.000000,565,152,156,66
unique,NaN,1663,431,565,227,156,103,2,19,120,...,7,4,NaN,NaN,NaN,NaN,3,2,2,2
top,NaN,2021-09-27 12:57:06.952000,2019-04-20,2023-09-13 11:42:52.693000,2024-10-30,2023-11-20 13:39:11.751000,2019-12-11,False,Exxxtended package,Doctor Reference Form,...,SENT,Requested,NaN,NaN,NaN,NaN,Low,Low,Low,Low
freq,NaN,3,40,1,16,1,6,1604,11,633,...,826,1095,NaN,NaN,NaN,NaN,538,102,103,48
mean,5853.744311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.600000,32.019737,33.262821,36.833333,NaN,NaN,NaN,NaN
std,5402.342202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11.755608,89.208623,89.999004,109.885617,NaN,NaN,NaN,NaN
min,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.000000,0.000000,1.000000,-166.000000,NaN,NaN,NaN,NaN
25%,1753.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.000000,1.000000,1.000000,0.000000,NaN,NaN,NaN,NaN
50%,3343.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN
75%,9813.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.000000,15.500000,21.250000,13.000000,NaN,NaN,NaN,NaN
max,22197.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,176.000000,700.000000,700.000000,419.000000,NaN,NaN,NaN,NaN

In [7]:
path_ref_user_tags = download_path + ref_user_tags.split('/')[-2]
df_ref_user_tags = pd.read_csv(path_ref_user_tags)

print("Descriptive statistics for ref_user_tags")
df_ref_user_tags.describe(include='all')

Descriptive statistics for ref_user_tags

        job_position_id  tag
count        425.000000  425
unique              NaN  339
top                 NaN  tag
freq                NaN    8
mean        8904.595294  NaN
std         4054.685306  NaN
min          232.000000  NaN
25%         4960.000000  NaN
50%         8882.000000  NaN
75%        12017.000000  NaN
max        22195.000000  NaN

In [8]:
# Load data into DuckDB and run a couple of queries against it
import duckdb

# pandas is already imported the data frames are available from the cells above (assuming they have all 
# been executed).

# Register the dataframes into DuckDB to make them available to query with SQL
duckdb.register("ref_assigned_to", df_ref_assigned_to)
duckdb.register("ref_job_positions", df_ref_job_positions)
duckdb.register("ref_references", df_ref_references)
duckdb.register("ref_user_tags", df_ref_user_tags)

In [9]:
# Run a simple query
duckdb.sql("SELECT * FROM ref_assigned_to LIMIT 10").show()

┌─────────────────┬─────────────────┐
│ job_position_id │   assigned_to   │
│      int64      │     varchar     │
├─────────────────┼─────────────────┤
│            3797 │ Andrey Ladmin   │
│            3797 │ Kerli Elliott   │
│            3797 │ Natalliaa Puluu │
│            6121 │ Andrey Ladmin   │
│            6121 │ Kerli Elliott   │
│            6121 │ Natalliaa Puluu │
│            8860 │ Iryna Saraeva   │
│            5042 │ Andrey Ladmin   │
│            5042 │ Kerli Elliott   │
│            5042 │ Natalliaa Puluu │
├─────────────────┴─────────────────┤
│ 10 rows                 2 columns │
└───────────────────────────────────┘

In [10]:
duckdb.sql("SELECT * FROM ref_job_positions LIMIT 10").show()

┌─────────────────┬─────────────────┬────────────────┬─────────────────────┬────────────┐
│ job_position_id │ organisation_id │      role      │ job_position_status │ signed_off │
│      int64      │      int64      │    varchar     │       varchar       │  boolean   │
├─────────────────┼─────────────────┼────────────────┼─────────────────────┼────────────┤
│            9633 │            2204 │ Carer          │ Active              │ false      │
│           11396 │            2191 │ add            │ Active              │ false      │
│           11429 │            2191 │ approver Admin │ Active              │ false      │
│           12397 │            2402 │ Evg role       │ Active              │ false      │
│           11905 │            2410 │ Other          │ Invited             │ false      │
│           12432 │            2179 │ Doctor         │ Active              │ false      │
│           12774 │            2401 │ Administrator  │ Active              │ false      │
│           12641 │            2325 │ Doctor         │ Active              │ false      │
│           12036 │            2402 │ Administrator  │ Active              │ false      │
│           12659 │            2372 │ Administrator  │ Active              │ false      │
├─────────────────┴─────────────────┴────────────────┴─────────────────────┴────────────┤
│ 10 rows                                                                     5 columns │
└───────────────────────────────────────────────────────────────────────────────────────┘

In [11]:
duckdb.sql("SELECT * FROM ref_references LIMIT 10").show()

┌─────────────────┬────────────────────────────┬────────────────────┬────────────────────────────┬────────────────────┬────────────────────────────┬───────────────────┬──────────────┬─────────────────────────┬────────────────┬────────────────────────────┬────────────────────────────┬─────────────────────────────┬────────────────────────────┬────────────────────────────┬─────────────────────────────┬───────────────────┬─────────────────────┬─────────────────────────────┬────────────────────────────┬────────────────────────────┬─────────────────────────────┬─────────────────────────────────┬────────────────────────────────┬────────────────────────────────┬─────────────────────────────────┐
│ job_position_id │      ref_requested_at      │ ref_requested_date │      ref_completed_at      │ ref_completed_date │      ref_approved_at       │ ref_approved_date │ is_mandatory │    ref_package_name     │ ref_form_name  │       cr_created_at        │    marked_compliant_at     │ requested_to_completed_time │ completed_to_reviewed_time │ requested_to_reviewed_time │ requested_to_compliant_time │    ref_status     │ ref_approval_status │ requested_to_completed_days │ completed_to_reviewed_days │ requested_to_reviewed_days │ requested_to_compliant_days │ requested_to_completed_category │ completed_to_reviewed_category │ requested_to_reviewed_category │ requested_to_compliant_category │
│      int64      │          varchar           │      varchar       │          varchar           │      varchar       │          varchar           │      varchar      │   boolean    │         varchar         │    varchar     │          varchar           │          varchar           │           double            │           double           │           double           │           double            │      varchar      │       varchar       │           double            │           double           │           double           │           double            │             varchar             │            varchar             │            varchar             │             varchar             │
├─────────────────┼────────────────────────────┼────────────────────┼────────────────────────────┼────────────────────┼────────────────────────────┼───────────────────┼──────────────┼─────────────────────────┼────────────────┼────────────────────────────┼────────────────────────────┼─────────────────────────────┼────────────────────────────┼────────────────────────────┼─────────────────────────────┼───────────────────┼─────────────────────┼─────────────────────────────┼────────────────────────────┼────────────────────────────┼─────────────────────────────┼─────────────────────────────────┼────────────────────────────────┼────────────────────────────────┼─────────────────────────────────┤
│            8468 │ 2023-12-19 12:31:48.013000 │ 2023-12-19         │ NULL                       │ NULL               │ NULL                       │ NULL              │ true         │ 3 RF                    │ @@             │ NULL                       │ NULL                       │                        NULL │                       NULL │                       NULL │                  19516145.9 │ SENT              │ Requested           │                        NULL │                       NULL │                       NULL │                       226.0 │ NULL                            │ NULL                           │ NULL                           │ High                            │
│            8468 │ 2023-09-13 11:41:49.898000 │ 2023-09-13         │ 2023-09-13 11:42:52.693000 │ 2023-09-13         │ 2023-11-20 13:39:11.751000 │ 2023-11-20        │ true         │ 3 RF                    │ @@             │ 2022-04-08 12:17:33.058000 │ 2024-08-01 09:40:53.913000 │                      62.795 │                5882179.058 │                5882241.853 │                27899944.015 │ APPROVED          │ Approved            │                         1.0 │                       69.0 │                       69.0 │                       323.0 │ Low                             │ High                           │ High                           │ High                            │
│            8468 │ 2023-09-13 09:08:47.106000 │ 2023-09-13         │ 2023-09-13 09:10:16.733000 │ 2023-09-13         │ 2024-08-01 09:46:02.887000 │ 2024-08-01        │ true         │ 3 RF                    │ @@             │ NULL                       │ NULL                       │                      89.627 │               27909346.154 │               27909435.781 │                27909126.807 │ DENIED            │ Declined            │                         1.0 │                      324.0 │                      324.0 │                       324.0 │ Low                             │ High                           │ High                           │ High                            │
│            8468 │ 2025-01-14 15:04:31.909000 │ 2025-01-14         │ NULL                       │ NULL               │ NULL                       │ NULL              │ true         │ 3 RF                    │ @@             │ NULL                       │ NULL                       │                        NULL │                       NULL │                       NULL │               -14361817.996 │ SENT              │ Requested           │                        NULL │                       NULL │                       NULL │                      -166.0 │ NULL                            │ NULL                           │ NULL                           │ Low                             │
│           11486 │ 2023-04-12 14:50:29.035000 │ 2023-04-12         │ 2023-04-12 14:51:19.157000 │ 2023-04-12         │ 2023-04-12 14:51:56.653000 │ 2023-04-12        │ true         │ Exxxtended package      │ New form       │ 2023-02-14 14:24:36.356000 │ 2023-04-12 14:50:10.620000 │                      50.122 │                     37.496 │                     87.618 │                     -18.415 │ APPROVED          │ Approved            │                         1.0 │                        1.0 │                        1.0 │                         0.0 │ Low                             │ Low                            │ Low                            │ Low                             │
│            3101 │ 2023-04-25 12:41:23.143000 │ 2023-04-25         │ 2023-04-25 12:42:26.136000 │ 2023-04-25         │ 2023-04-25 12:42:38.266000 │ 2023-04-25        │ true         │ Reference Form 2021 - 1 │ Ref numa una 1 │ 2023-04-25 09:18:15.197000 │ 2023-04-25 10:02:31.706000 │                      62.993 │                      12.13 │                     75.123 │                   -9531.437 │ APPROVED          │ Approved            │                         1.0 │                        1.0 │                        1.0 │                         0.0 │ Low                             │ Low                            │ Low                            │ Low                             │
│            3101 │ 2023-04-25 10:01:20.201000 │ 2023-04-25         │ 2023-04-25 10:02:12.358000 │ 2023-04-25         │ 2023-04-25 10:02:31.547000 │ 2023-04-25        │ true         │ Reference Form 2021 - 1 │ Ref numa una 1 │ 2023-04-25 09:18:15.197000 │ 2023-04-25 10:02:31.706000 │                      52.157 │                     19.189 │                     71.346 │                      71.505 │ APPROVED          │ Approved            │                         1.0 │                        1.0 │                        1.0 │                         1.0 │ Low                             │ Low                            │ Low                            │ Low                             │
│            3101 │ 2023-04-27 10:17:08.707000 │ 2023-04-27         │ 2023-04-27 10:20:21.508000 │ 2023-04-27         │ NULL                       │ NULL              │ true         │ Reference Form 2021 - 1 │ Ref numa una 1 │ NULL                       │ NULL                       │                     192.801 │                       NULL │                       NULL │                 -173677.001 │ AWAITING_APPROVAL │ Submitted           │                         1.0 │                       NULL │                       NULL │                        -2.0 │ Low                             │ NULL                           │ NULL                           │ Low                             │
│            3101 │ 2023-04-25 10:34:34.721000 │ 2023-04-25         │ 2023-04-25 10:35:17.985000 │ 2023-04-25         │ 2023-04-25 10:35:53.451000 │ 2023-04-25        │ true         │ Reference Form 2021 - 1 │ Ref numa una 1 │ 2023-04-25 09:18:15.197000 │ 2023-04-25 10:02:31.706000 │                      43.264 │                     35.466 │                      78.73 │                   -1923.015 │ APPROVED          │ Approved            │                         1.0 │                        1.0 │                        1.0 │                         0.0 │ Low                             │ Low                            │ Low                            │ Low                             │
│           13880 │ 2023-08-09 09:11:50.990000 │ 2023-08-09         │ NULL                       │ NULL               │ NULL                       │ NULL              │ true         │ Testinnng               │ TestingFooter  │ NULL                       │ NULL                       │                        NULL │                       NULL │                       NULL │                 1226203.867 │ SENT              │ Requested           │                        NULL │                       NULL │                       NULL │                        15.0 │ NULL                            │ NULL                           │ NULL                           │ High                            │
├─────────────────┴────────────────────────────┴────────────────────┴────────────────────────────┴────────────────────┴────────────────────────────┴───────────────────┴──────────────┴─────────────────────────┴────────────────┴────────────────────────────┴────────────────────────────┴─────────────────────────────┴────────────────────────────┴────────────────────────────┴─────────────────────────────┴───────────────────┴─────────────────────┴─────────────────────────────┴────────────────────────────┴────────────────────────────┴─────────────────────────────┴─────────────────────────────────┴────────────────────────────────┴────────────────────────────────┴─────────────────────────────────┤
│ 10 rows                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   26 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [12]:
duckdb.sql("SELECT * FROM ref_user_tags LIMIT 10").show()

┌─────────────────┬──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
│ job_position_id │                                                               tag                                                                │
│      int64      │                                                             varchar                                                              │
├─────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┤
│            1290 │ wwertyuiopasjdhahjsfhqiwhfoijasfkbanslfknaksfquiwrgiqwhjqwfhjbqwfjbqwfikjbqwkfjbqwfjqjwbfqhbwehjbhjwbfhwrhfbvhjqwjkqwlidasdwqdg2 │
│            3004 │ He looked at his new small nose in the mirror and thooight aout how fashionable he wasm He waery happy wiuuth his new noseh Tnb  │
│            2868 │ He looked at his new small nose in the mirror and ihooight aout how fashionable he wasm s very happy with his nw noseh Tnbiv     │
│            2636 │ jfbiver-123456789fvbivbifvbffriv                                                                                                 │
│            3028 │ e  looked t his new small nose in the mirror and thooight aout how fashionable he wsm He was uiery happy with his new noseh Tnbw │
│             890 │ Gynaecologist                                                                                                                    │
│             890 │ Morning shift                                                                                                                    │
│            2208 │ friday                                                                                                                           │
│            2953 │ a                                                                                                                                │
│            2953 │ b                                                                                                                                │
├─────────────────┴──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┤
│ 10 rows                                                                                                                                  2 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [13]:
# Base query for view without any filters in place
sql = """
SELECT 
    r.*, 
    jp.role,
    jp.job_position_status,
    jp.signed_off,
    ut.tag,
    at.assigned_to
FROM 
    ref_references r
LEFT JOIN ref_job_positions jp 
    ON r.job_position_id = jp.job_position_id

-- Filtering logic references ref_user_tags and ref_assigned_to
LEFT JOIN ref_user_tags ut 
    ON ut.job_position_id = jp.job_position_id

LEFT JOIN ref_assigned_to at 
    ON at.job_position_id = jp.job_position_id
    
LIMIT 20
"""

duckdb.sql(sql).show()

┌─────────────────┬────────────────────────────┬────────────────────┬────────────────────────────┬────────────────────┬────────────────────────────┬───────────────────┬──────────────┬────────────────────┬──────────────────────────┬────────────────────────────┬────────────────────────────┬─────────────────────────────┬────────────────────────────┬────────────────────────────┬─────────────────────────────┬───────────────────┬─────────────────────┬─────────────────────────────┬────────────────────────────┬────────────────────────────┬─────────────────────────────┬─────────────────────────────────┬────────────────────────────────┬────────────────────────────────┬─────────────────────────────────┬───────────────┬─────────────────────┬────────────┬─────────────────────────────────────────────────────────────┬────────────────────┐
│ job_position_id │      ref_requested_at      │ ref_requested_date │      ref_completed_at      │ ref_completed_date │      ref_approved_at       │ ref_approved_date │ is_mandatory │  ref_package_name  │      ref_form_name       │       cr_created_at        │    marked_compliant_at     │ requested_to_completed_time │ completed_to_reviewed_time │ requested_to_reviewed_time │ requested_to_compliant_time │    ref_status     │ ref_approval_status │ requested_to_completed_days │ completed_to_reviewed_days │ requested_to_reviewed_days │ requested_to_compliant_days │ requested_to_completed_category │ completed_to_reviewed_category │ requested_to_reviewed_category │ requested_to_compliant_category │     role      │ job_position_status │ signed_off │                             tag                             │    assigned_to     │
│      int64      │          varchar           │      varchar       │          varchar           │      varchar       │          varchar           │      varchar      │   boolean    │      varchar       │         varchar          │          varchar           │          varchar           │           double            │           double           │           double           │           double            │      varchar      │       varchar       │           double            │           double           │           double           │           double            │             varchar             │            varchar             │            varchar             │             varchar             │    varchar    │       varchar       │  boolean   │                           varchar                           │      varchar       │
├─────────────────┼────────────────────────────┼────────────────────┼────────────────────────────┼────────────────────┼────────────────────────────┼───────────────────┼──────────────┼────────────────────┼──────────────────────────┼────────────────────────────┼────────────────────────────┼─────────────────────────────┼────────────────────────────┼────────────────────────────┼─────────────────────────────┼───────────────────┼─────────────────────┼─────────────────────────────┼────────────────────────────┼────────────────────────────┼─────────────────────────────┼─────────────────────────────────┼────────────────────────────────┼────────────────────────────────┼─────────────────────────────────┼───────────────┼─────────────────────┼────────────┼─────────────────────────────────────────────────────────────┼────────────────────┤
│           11486 │ 2023-04-12 14:50:29.035000 │ 2023-04-12         │ 2023-04-12 14:51:19.157000 │ 2023-04-12         │ 2023-04-12 14:51:56.653000 │ 2023-04-12        │ true         │ Exxxtended package │ New form                 │ 2023-02-14 14:24:36.356000 │ 2023-04-12 14:50:10.620000 │                      50.122 │                     37.496 │                     87.618 │                     -18.415 │ APPROVED          │ Approved            │                         1.0 │                        1.0 │                        1.0 │                         0.0 │ Low                             │ Low                            │ Low                            │ Low                             │ Director      │ Active              │ false      │ fall                                                        │ MARK WEINBERGER    │
│           15623 │ 2024-06-10 13:34:40.381000 │ 2024-06-10         │ NULL                       │ NULL               │ NULL                       │ NULL              │ false        │ NULL               │ Simple Form              │ NULL                       │ NULL                       │                        NULL │                       NULL │                       NULL │                        NULL │ SENT              │ Requested           │                        NULL │                       NULL │                       NULL │                        NULL │ NULL                            │ NULL                           │ NULL                           │ NULL                            │ Nurse UK      │ Active              │ false      │ The Republicans are attacking                               │ Viktoryia Korkhava │
│           14108 │ 2023-10-04 12:12:03.203000 │ 2023-10-04         │ 2023-10-04 12:12:25.365000 │ 2023-10-04         │ 2023-10-11 10:51:17.978000 │ 2023-10-11        │ false        │ NULL               │ Date Ref                 │ NULL                       │ NULL                       │                      22.162 │                 599932.613 │                 599954.775 │                        NULL │ APPROVED          │ Approved            │                         1.0 │                        7.0 │                        7.0 │                        NULL │ Low                             │ High                           │ High                           │ NULL                            │ Administrator │ Active              │ true       │ dsadsa                                                      │ Max SSO-Azure      │
│           10013 │ 2023-07-28 08:44:42.734000 │ 2023-07-28         │ 2023-07-28 08:46:49.234000 │ 2023-07-28         │ NULL                       │ NULL              │ false        │ NULL               │ asfasf                   │ NULL                       │ NULL                       │                       126.5 │                       NULL │                       NULL │                        NULL │ AWAITING_APPROVAL │ Submitted           │                         1.0 │                       NULL │                       NULL │                        NULL │ Low                             │ NULL                           │ NULL                           │ NULL                            │ Administrator │ Active              │ false      │ asdasdsa                                                    │ Ira FanDem         │
│           12913 │ 2024-06-13 07:39:39.825000 │ 2024-06-13         │ NULL                       │ NULL               │ NULL                       │ NULL              │ false        │ NULL               │ Brand-new Reference Form │ NULL                       │ NULL                       │                        NULL │                       NULL │                       NULL │                        NULL │ EMAIL_BOUNCED     │ Requested           │                        NULL │                       NULL │                       NULL │                        NULL │ NULL                            │ NULL                           │ NULL                           │ NULL                            │ Approver      │ Active              │ true       │ sdasdf sdf dfdf df dfd fd dfdgfgfggf fgdfgddddgddf dfsfd sf │ Dmitry Grinyuk     │
│           15623 │ 2025-01-21 13:35:12.479000 │ 2025-01-21         │ 2025-01-21 13:36:14.331000 │ 2025-01-21         │ NULL                       │ NULL              │ false        │ NULL               │ Simple Form              │ NULL                       │ NULL                       │                      61.852 │                       NULL │                       NULL │                        NULL │ AWAITING_APPROVAL │ Submitted           │                         1.0 │                       NULL │                       NULL │                        NULL │ Low                             │ NULL                           │ NULL                           │ NULL                            │ Nurse UK      │ Active              │ false      │ The Republicans are attacking                               │ Viktoryia Korkhava │
│           14108 │ 2023-10-11 11:07:09.300000 │ 2023-10-11         │ 2023-10-11 11:09:22.271000 │ 2023-10-11         │ 2023-11-16 08:12:58.853000 │ 2023-11-16        │ false        │ NULL               │ Date Ref                 │ NULL                       │ NULL                       │                     132.971 │                3099816.582 │                3099949.553 │                        NULL │ APPROVED          │ Approved            │                         1.0 │                       36.0 │                       36.0 │                        NULL │ Low                             │ High                           │ High                           │ NULL                            │ Administrator │ Active              │ true       │ dsadsa                                                      │ Max SSO-Azure      │
│           12913 │ 2024-08-06 07:55:12.224000 │ 2024-08-06         │ NULL                       │ NULL               │ NULL                       │ NULL              │ false        │ NULL               │ Brand-new Reference Form │ NULL                       │ NULL                       │                        NULL │                       NULL │                       NULL │                        NULL │ OPENED            │ Requested           │                        NULL │                       NULL │                       NULL │                        NULL │ NULL                            │ NULL                           │ NULL                           │ NULL                            │ Approver      │ Active              │ true       │ sdasdf sdf dfdf df dfd fd dfdgfgfggf fgdfgddddgddf dfsfd sf │ Dmitry Grinyuk     │
│           14108 │ 2023-11-16 13:19:18.221000 │ 2023-11-16         │ NULL                       │ NULL               │ NULL                       │ NULL              │ false        │ NULL               │ 345345                   │ NULL                       │ NULL                       │                        NULL │                       NULL │                       NULL │                        NULL │ SENT              │ Requested           │                        NULL │                       NULL │                       NULL │                        NULL │ NULL                            │ NULL                           │ NULL                           │ NULL                            │ Administrator │ Active              │ true       │ dsadsa                                                      │ Max SSO-Azure      │
│           12913 │ 2024-09-24 08:17:33.085000 │ 2024-09-24         │ 2025-03-18 13:47:10.293000 │ 2025-03-18         │ NULL                       │ NULL              │ false        │ NULL               │ Brand-new Reference Form │ NULL                       │ NULL                       │                15139777.208 │                       NULL │                       NULL │                        NULL │ AWAITING_APPROVAL │ Submitted           │                       176.0 │                       NULL │                       NULL │                        NULL │ High                            │ NULL                           │ NULL                           │ NULL                            │ Approver      │ Active              │ true       │ sdasdf sdf dfdf df dfd fd dfdgfgfggf fgdfgddddgddf dfsfd sf │ Dmitry Grinyuk     │
│           12913 │ 2024-09-17 11:21:54.698000 │ 2024-09-17         │ 2024-11-15 09:35:51.333000 │ 2024-11-15         │ NULL                       │ NULL              │ false        │ NULL               │ Brand-new Reference Form │ NULL                       │ NULL                       │                 5091236.635 │                       NULL │                       NULL │                        NULL │ AWAITING_APPROVAL │ Submitted           │                        59.0 │                       NULL │                       NULL │                        NULL │ High                            │ NULL                           │ NULL                           │ NULL                            │ Approver      │ Active              │ true       │ sdasdf sdf dfdf df dfd fd dfdgfgfggf fgdfgddddgddf dfsfd sf │ Dmitry Grinyuk     │
│           12913 │ 2024-01-10 12:02:54.127000 │ 2024-01-10         │ 2024-01-10 12:03:49.791000 │ 2024-01-10         │ 2024-09-05 10:10:31.951000 │ 2024-09-05        │ false        │ NULL               │ Brand-new Reference Form │ NULL                       │ NULL                       │                      55.664 │                20642802.16 │               20642857.824 │                        NULL │ DENIED            │ Declined            │                         1.0 │                      239.0 │                      239.0 │                        NULL │ Low                             │ High                           │ High                           │ NULL                            │ Approver      │ Active              │ true       │ sdasdf sdf dfdf df dfd fd dfdgfgfggf fgdfgddddgddf dfsfd sf │ Dmitry Grinyuk     │
│           12913 │ 2024-04-22 10:32:19.987000 │ 2024-04-22         │ 2024-04-22 10:33:13.894000 │ 2024-04-22         │ 2024-08-05 09:36:05.775000 │ 2024-08-05        │ false        │ NULL               │ Test Notification        │ NULL                       │ NULL                       │                      53.907 │                9068571.881 │                9068625.788 │                        NULL │ EXPIRED           │ Approved            │                         1.0 │                      105.0 │                      105.0 │                        NULL │ Low                             │ High                           │ High                           │ NULL                            │ Approver      │ Active              │ true       │ sdasdf sdf dfdf df dfd fd dfdgfgfggf fgdfgddddgddf dfsfd sf │ Dmitry Grinyuk     │
│           12913 │ 2024-03-26 08:49:37.876000 │ 2024-03-26         │ 2024-03-26 08:50:44.569000 │ 2024-03-26         │ 2024-09-02 09:08:38.524000 │ 2024-09-02        │ false        │ NULL               │ Test Notification        │ NULL                       │ NULL                       │                      66.693 │               13825073.955 │               13825140.648 │                        NULL │ EXPIRED           │ Approved            │                         1.0 │                      161.0 │                      161.0 │                        NULL │ Low                             │ High                           │ High                           │ NULL                            │ Approver      │ Active              │ true       │ sdasdf sdf dfdf df dfd fd dfdgfgfggf fgdfgddddgddf dfsfd sf │ Dmitry Grinyuk     │
│           12913 │ 2024-03-20 12:45:31.239000 │ 2024-03-20         │ NULL                       │ NULL               │ NULL                       │ NULL              │ false        │ NULL               │ Test Notification        │ NULL                       │ NULL                       │                        NULL │                       NULL │                       NULL │                        NULL │ OPENED            │ Requested           │                        NULL │                       NULL │                       NULL │                        NULL │ NULL                            │ NULL                           │ NULL                           │ NULL                            │ Approver      │ Active              │ true       │ sdasdf sdf dfdf df dfd fd dfdgfgfggf fgdfgddddgddf dfsfd sf │ Dmitry Grinyuk     │
│           12913 │ 2024-05-10 08:26:19.239000 │ 2024-05-10         │ NULL                       │ NULL               │ NULL                       │ NULL              │ false        │ NULL               │ Test Notification        │ NULL                       │ NULL                       │                        NULL │                       NULL │                       NULL │                        NULL │ SENT              │ Requested           │                        NULL │                       NULL │                       NULL │                        NULL │ NULL                            │ NULL                           │ NULL                           │ NULL                            │ Approver      │ Active              │ true       │ sdasdf sdf dfdf df dfd fd dfdgfgfggf fgdfgddddgddf dfsfd sf │ Dmitry Grinyuk     │
│           12913 │ 2024-05-10 08:22:50.482000 │ 2024-05-10         │ NULL                       │ NULL               │ NULL                       │ NULL              │ false        │ NULL               │ Test Notification        │ NULL                       │ NULL                       │                        NULL │                       NULL │                       NULL │                        NULL │ EMAIL_BOUNCED     │ Requested           │                        NULL │                       NULL │                       NULL │                        NULL │ NULL                            │ NULL                           │ NULL                           │ NULL                            │ Approver      │ Active              │ true       │ sdasdf sdf dfdf df dfd fd dfdgfgfggf fgdfgddddgddf dfsfd sf │ Dmitry Grinyuk     │
│           11486 │ 2023-04-12 14:50:29.035000 │ 2023-04-12         │ 2023-04-12 14:51:19.157000 │ 2023-04-12         │ 2023-04-12 14:51:56.653000 │ 2023-04-12        │ true         │ Exxxtended package │ New form                 │ 2023-02-14 14:24:36.356000 │ 2023-04-12 14:50:10.620000 │                      50.122 │                     37.496 │                     87.618 │                     -18.415 │ APPROVED          │ Approved            │                         1.0 │                        1.0 │                        1.0 │                         0.0 │ Low                             │ Low                            │ Low                            │ Low                             │ Director      │ Active              │ false      │ winter                                                      │ MARK WEINBERGER    │
│           15623 │ 2024-06-10 13:34:40.381000 │ 2024-06-10         │ NULL                       │ NULL               │ NULL                       │ NULL              │ false        │ NULL               │ Simple Form              │ NULL                       │ NULL                       │                        NULL │                       NULL │                       NULL │                        NULL │ SENT              │ Requested           │                        NULL │                       NULL │                       NULL │                        NULL │ NULL                            │ NULL                           │ NULL                           │ NULL                            │ Nurse UK      │ Active              │ false      │ he said                                                     │ Viktoryia Korkhava │

In [14]:
duckdb.sql("""with date_range as (
  select
     generate_series as start_timestamp,
     '2020-01-01'::date as stop_timestamp
  from
     generate_series(timestamp '2012-01-01', timestamp '2020-01-01', interval '3 years')
)
select
  unnest(generate_series(start_timestamp, stop_timestamp, interval '1 day')) as timestamp,
  start_timestamp,
  stop_timestamp
from
  date_range""").show()

┌─────────────────────┬─────────────────────┬────────────────┐
│      timestamp      │   start_timestamp   │ stop_timestamp │
│      timestamp      │      timestamp      │      date      │
├─────────────────────┼─────────────────────┼────────────────┤
│ 2012-01-01 00:00:00 │ 2012-01-01 00:00:00 │ 2020-01-01     │
│ 2012-01-02 00:00:00 │ 2012-01-01 00:00:00 │ 2020-01-01     │
│ 2012-01-03 00:00:00 │ 2012-01-01 00:00:00 │ 2020-01-01     │
│ 2012-01-04 00:00:00 │ 2012-01-01 00:00:00 │ 2020-01-01     │
│ 2012-01-05 00:00:00 │ 2012-01-01 00:00:00 │ 2020-01-01     │
│ 2012-01-06 00:00:00 │ 2012-01-01 00:00:00 │ 2020-01-01     │
│ 2012-01-07 00:00:00 │ 2012-01-01 00:00:00 │ 2020-01-01     │
│ 2012-01-08 00:00:00 │ 2012-01-01 00:00:00 │ 2020-01-01     │
│ 2012-01-09 00:00:00 │ 2012-01-01 00:00:00 │ 2020-01-01     │
│ 2012-01-10 00:00:00 │ 2012-01-01 00:00:00 │ 2020-01-01     │
│          ·          │          ·          │     ·          │
│          ·          │          ·          │     ·          │
│          ·          │          ·          │     ·          │
│ 2019-12-23 00:00:00 │ 2018-01-01 00:00:00 │ 2020-01-01     │
│ 2019-12-24 00:00:00 │ 2018-01-01 00:00:00 │ 2020-01-01     │
│ 2019-12-25 00:00:00 │ 2018-01-01 00:00:00 │ 2020-01-01     │
│ 2019-12-26 00:00:00 │ 2018-01-01 00:00:00 │ 2020-01-01     │
│ 2019-12-27 00:00:00 │ 2018-01-01 00:00:00 │ 2020-01-01     │
│ 2019-12-28 00:00:00 │ 2018-01-01 00:00:00 │ 2020-01-01     │
│ 2019-12-29 00:00:00 │ 2018-01-01 00:00:00 │ 2020-01-01     │
│ 2019-12-30 00:00:00 │ 2018-01-01 00:00:00 │ 2020-01-01     │
│ 2019-12-31 00:00:00 │ 2018-01-01 00:00:00 │ 2020-01-01     │
│ 2020-01-01 00:00:00 │ 2018-01-01 00:00:00 │ 2020-01-01     │
├─────────────────────┴─────────────────────┴────────────────┤
│ 5481 rows (20 shown)                             3 columns │
└────────────────────────────────────────────────────────────┘

In [15]:
# Pandas date range 
dates = pd.date_range('2012-10-01', periods=289, freq='D')
# create dataframe of dates, remove index
dateframe = pd.DataFrame(dates.date, columns=['date'])
duckdb.register("dates", dateframe)
duckdb.sql("select date from dates").show()

┌────────────┐
│    date    │
│    date    │
├────────────┤
│ 2012-10-01 │
│ 2012-10-02 │
│ 2012-10-03 │
│ 2012-10-04 │
│ 2012-10-05 │
│ 2012-10-06 │
│ 2012-10-07 │
│ 2012-10-08 │
│ 2012-10-09 │
│ 2012-10-10 │
│     ·      │
│     ·      │
│     ·      │
│ 2013-07-07 │
│ 2013-07-08 │
│ 2013-07-09 │
│ 2013-07-10 │
│ 2013-07-11 │
│ 2013-07-12 │
│ 2013-07-13 │
│ 2013-07-14 │
│ 2013-07-15 │
│ 2013-07-16 │
├────────────┤
│  289 rows  │
│ (20 shown) │
└────────────┘

In [16]:
# Dates max min query ranges
dates_q = """
SELECT min(ref_requested_date) as min_requested_date, max(ref_requested_date) as max_requested_date,
min(ref_completed_date) as min_completed_date, max(ref_completed_date) as max_completed_date,
-- min(ref_assigned_date) as min_assigned_date, max(ref_assigned_date) as max_assigned_date,
min(ref_approved_date) as min_approved_date, max(ref_approved_date) as max_approved_date,
min(cr_created_at) as min_created_date, max(cr_created_at) as max_created_date,
min(marked_compliant_at) as min_marked_compliant_at, max(marked_compliant_at) as max_marked_compliant_at
FROM ref_references

"""
duckdb.sql(dates_q).fetchdf()

,min_requested_date,max_requested_date,min_completed_date,max_completed_date,min_approved_date,max_approved_date,min_created_date,max_created_date,min_marked_compliant_at,max_marked_compliant_at
0,2018-11-29,2025-03-24,2019-04-15,2025-03-20,2019-04-17,2025-03-20,2022-04-08 12:17:33.058000,2024-10-03 09:50:43.965000,2023-04-12 14:50:10.620000,2025-03-13 16:42:25.117000

Earliest date discovered is 2018-11-29 (min ref_requested_date)

Latest date discovered is 2025-03-20 (max ref_approved_date)

Number of days between 2018-11-29 and 2025-03-20 = 2,303 days

In [17]:
# Add a date table running from 2018-11-29 to 2025-03-20
dates = pd.date_range('2018-11-29', periods=2303, freq='D')
dateframe = pd.DataFrame(dates.date, columns=['date'])

duckdb.register("dates", dateframe)

In [18]:
# Create the view

query = """
    CREATE VIEW wide_table AS
    SELECT  
        r.completed_to_reviewed_days,
        r.completed_to_reviewed_time,
        r.cr_created_at,
        r.job_position_id,
        r.marked_compliant_at,
        r.ref_approval_status,
        r.ref_approved_at,
        r.ref_approved_date,
        r.ref_completed_at,
        r.ref_completed_date,
        r.ref_requested_at,
        r.ref_requested_date,
        r.ref_status,
        r.requested_to_completed_days,
        r.requested_to_completed_time,
        r.requested_to_compliant_time,
        r.requested_to_reviewed_time,
        r.is_mandatory,
        r.ref_package_name,
        r.ref_form_name,
        jp.role,
        jp.job_position_status,
        jp.signed_off,
        ut.tag,
        at.assigned_to
    FROM 
        ref_references r
    LEFT JOIN ref_job_positions jp 
        ON r.job_position_id = jp.job_position_id

    -- Filtering logic references ref_user_tags and ref_assigned_to
    LEFT JOIN ref_user_tags ut 
        ON ut.job_position_id = jp.job_position_id

    LEFT JOIN ref_assigned_to at 
        ON at.job_position_id = jp.job_position_id
    """

duckdb.sql(query)

In [19]:
sql = """
    SELECT d.date, SUM(CASE WHEN wt.ref_status IS NOT NULL THEN 1 ELSE 0 END ) sent_count
    FROM dates d
    LEFT JOIN wide_table wt ON d.date = wt.ref_requested_date
    WHERE wt.ref_status = 'SENT' OR wt.ref_status IS NULL
    GROUP BY date
    ORDER BY date
    """
duckdb.sql(sql).show()

┌────────────┬────────────┐
│    date    │ sent_count │
│    date    │   int128   │
├────────────┼────────────┤
│ 2018-11-29 │         20 │
│ 2018-11-30 │         20 │
│ 2018-12-01 │          0 │
│ 2018-12-02 │          0 │
│ 2018-12-03 │         31 │
│ 2018-12-04 │         14 │
│ 2018-12-05 │          8 │
│ 2018-12-06 │          5 │
│ 2018-12-07 │          2 │
│ 2018-12-08 │          0 │
│     ·      │          · │
│     ·      │          · │
│     ·      │          · │
│ 2025-03-09 │          0 │
│ 2025-03-10 │          0 │
│ 2025-03-11 │          0 │
│ 2025-03-12 │          0 │
│ 2025-03-13 │          7 │
│ 2025-03-14 │          0 │
│ 2025-03-15 │          0 │
│ 2025-03-16 │          0 │
│ 2025-03-17 │          0 │
│ 2025-03-18 │          1 │
├────────────┴────────────┤
│  2134 rows (20 shown)   │
└─────────────────────────┘

In [20]:
# Go by month

sql = """
    SELECT DATE_TRUNC('month', d.date) m, SUM(CASE WHEN wt.ref_status IS NOT NULL THEN 1 ELSE 0 END ) sent_count
    FROM dates d
    LEFT JOIN wide_table wt ON d.date = wt.ref_requested_date
    WHERE wt.ref_status = 'SENT' OR wt.ref_status IS NULL
    GROUP BY DATE_TRUNC('month', d.date)
    ORDER BY DATE_TRUNC('month', d.date)
    """
duckdb.sql(sql).show()

┌────────────┬────────────┐
│     m      │ sent_count │
│    date    │   int128   │
├────────────┼────────────┤
│ 2018-11-01 │         40 │
│ 2018-12-01 │         93 │
│ 2019-01-01 │          1 │
│ 2019-02-01 │          5 │
│ 2019-03-01 │          2 │
│ 2019-04-01 │        138 │
│ 2019-05-01 │         43 │
│ 2019-06-01 │         19 │
│ 2019-07-01 │         48 │
│ 2019-08-01 │         27 │
│     ·      │          · │
│     ·      │          · │
│     ·      │          · │
│ 2024-06-01 │          8 │
│ 2024-07-01 │          2 │
│ 2024-08-01 │         13 │
│ 2024-09-01 │         14 │
│ 2024-10-01 │         10 │
│ 2024-11-01 │         11 │
│ 2024-12-01 │          9 │
│ 2025-01-01 │          3 │
│ 2025-02-01 │          6 │
│ 2025-03-01 │          8 │
├────────────┴────────────┤
│   77 rows (20 shown)    │
└─────────────────────────┘

In [21]:
sql = """
    SELECT d.date, wt.assigned_to assigned_to, SUM(CASE WHEN wt.ref_status IS NOT NULL THEN 1 ELSE 0 END ) request_count
    FROM dates d
    LEFT JOIN wide_table wt ON d.date = wt.ref_requested_date
    WHERE wt.ref_status = 'SENT' OR wt.ref_status IS NULL
    GROUP BY date, wt.assigned_to
    ORDER BY date
"""

duckdb.sql(sql).show()

┌────────────┬─────────────┬───────────────┐
│    date    │ assigned_to │ request_count │
│    date    │   varchar   │    int128     │
├────────────┼─────────────┼───────────────┤
│ 2018-11-29 │ NULL        │            20 │
│ 2018-11-30 │ NULL        │            20 │
│ 2018-12-01 │ NULL        │             0 │
│ 2018-12-02 │ NULL        │             0 │
│ 2018-12-03 │ NULL        │            31 │
│ 2018-12-04 │ NULL        │            14 │
│ 2018-12-05 │ NULL        │             8 │
│ 2018-12-06 │ NULL        │             5 │
│ 2018-12-07 │ NULL        │             2 │
│ 2018-12-08 │ NULL        │             0 │
│     ·      │  ·          │             · │
│     ·      │  ·          │             · │
│     ·      │  ·          │             · │
│ 2025-03-09 │ NULL        │             0 │
│ 2025-03-10 │ NULL        │             0 │
│ 2025-03-11 │ NULL        │             0 │
│ 2025-03-12 │ NULL        │             0 │
│ 2025-03-13 │ NULL        │             7 │
│ 2025-03-14 │ NULL        │             0 │
│ 2025-03-15 │ NULL        │             0 │
│ 2025-03-16 │ NULL        │             0 │
│ 2025-03-17 │ NULL        │             0 │
│ 2025-03-18 │ NULL        │             1 │
├────────────┴─────────────┴───────────────┤
│ 2172 rows (20 shown)           3 columns │
└──────────────────────────────────────────┘

In [26]:
sql = """
SELECT ROUND(AVG(requested_to_completed_days), 2) average_completion_days, assigned_to
FROM wide_table wt 
WHERE assigned_to IS NOT NULL
  AND requested_to_completed_days IS NOT NULL
GROUP BY assigned_to
"""

duckdb.sql(sql).show()

┌─────────────────────────┬──────────────────────┐
│ average_completion_days │     assigned_to      │
│         double          │       varchar        │
├─────────────────────────┼──────────────────────┤
│                    4.17 │ Black Tea            │
│                     1.0 │ Yury Mushnitski      │
│                     1.0 │ Andrey Ladmin        │
│                     1.0 │ Adrian Bee           │
│                     1.0 │ Andrew Lubanec       │
│                     1.0 │ Max SSO-Azure        │
│                     1.0 │ Victoria Korkhova    │
│                    2.62 │ Ira FanDem           │
│                     1.0 │ Your Name            │
│                     1.0 │ Uladzislau Arlou     │
│                      ·  │       ·              │
│                      ·  │       ·              │
│                      ·  │       ·              │
│                   44.69 │ Dmitry Grinyuk       │
│                     1.0 │ Kerli Elliott        │
│                    2.71 │ Iryna Saraeva        │
│                     1.0 │ Tom Pitt             │
│                     1.0 │ Viktoryia KK         │
│                     1.0 │ Cool Doctor          │
│                     1.0 │ Natalliaa Puluu      │
│                     1.0 │ Vladimir Gaiduchenok │
│                     1.0 │ MARK WEINBERGER      │
│                     1.0 │ Ug. Strukov          │
├─────────────────────────┴──────────────────────┤
│ 24 rows (20 shown)                   2 columns │
└────────────────────────────────────────────────┘